@media (max-width: 1200px) {
  header {
    height: auto;
  }

  .header-image {
    display: none;
  }

  .header-text {
    float: none;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
    padding: 50px 20px;
  }

  .api-heading {
    margin-left: 0px;
    text-align: center;
  }

  .cards {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 0px;
  }

  .cards > div {
    justify-self: center;
  }

  .cards > div:last-child {
    display: none;
  }

  .blog-heading {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
  }

  .blog-heading h1 {
    text-align: center;
  }

  .blog-heading span {
    display: none;
  }

  .blog-cards {
    margin-left: 20px;
    margin-right: 20px;
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .blog-card {
    justify-self: center;
  }

  .faq-section {
    justify-content: center;
  }

  .faq-content {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .faq-image {
    display: none;
  }
}

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .download-section {
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .download-content {
    margin-left: 0px;
  }

  .download-email {
    margin-right: 0px;
  }
}

@media (max-width: 930px) {
  .logo {
    display: none;
  }

  nav {
    float: none;
    text-align: center;
    margin-right: 0px;
  }

  nav svg {
    display: none;
  }

  .footer-section {
    padding: 25px 20px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  .footer-left {
    margin-left: 0px;
    text-align: center;
  }

  .footer-section > .footer-right {
    margin-right: 0px;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .companies {
    display: none;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .blog-card {
    flex-direction: column;
    background-color: white;
    border-top-left-radius: 71px;
  }

  .blog-image {
    flex: 1;
    width: 350px;
  }

  .blog-image img:first-child {
    display: none;
  }

  .blog-image img:last-child {
    display: block;
    width: 100%;
  }

  .blog-content {
    flex: 1;
    box-shadow: none;
  }

  .blog-bottom,
  .blog-author {
    display: none;
  }

  .footer-logo {
    width: 90px;
  }
}

@media (max-width: 550px) {
  .nav-item {
    font-size: 16px;
  }

  .nav-item-active {
    display: none;
  }

  .header-text h2,
  .blog-heading h1,
  .download-content h1 {
    font-size: 30px;
  }

  .api-heading {
    font-size: 30px;
  }

  .download-section {
    align-items: stretch;
  }

  .download-content h1 {
    text-align: center;
  }

  .download-email form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .download-email form * {
    width: 100%;
  }

  .download-email button {
    position: static;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .list :nth-child(1) {
    display: none;
  }
}
