/* Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

/* Righteous Font */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #f5f5f5;
}

header {
  height: 500px;
  background-color: #3400ff;
  position: relative;
}

nav {
  float: right;
  margin-right: 50px;
  padding-top: 40px;
}

.nav-item {
  margin: 0 12px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}

.nav-item-active {
  background-color: #ffffff;
  color: #5a31fc;
  font-size: 18px;
  font-weight: 600;
  margin: 0 10px;
  padding: 5px 12px;
  border-radius: 4px;
  transition: opacity 200ms ease;
}

.nav-item-active:hover {
  cursor: pointer;
  opacity: 0.9;
}

.logo {
  margin-top: 50px;
  margin-left: 60px;
  width: 120px;
  cursor: pointer;
}

.header-text {
  float: left;
  margin-top: 60px;
  margin-left: 60px;
  color: #ffffff;
  line-height: 1.6;
}

.header-text h2 {
  font-size: 35px;
  font-weight: 600;
}

.header-text p {
  margin-top: 10px;
  font-size: 17px;
}

.header-image {
  float: right;
}

.companies {
  margin-top: 25px;
  display: flex;
}

.company-items {
  flex: 1;
  text-decoration: none;
  color: #1b1b1b;
  font-family: "Righteous";
  font-size: 22px;
  text-align: center;
}

.api {
  position: relative;
}

.api-heading {
  margin-left: 60px;
  margin-top: 80px;
  font-size: 35px;
}

.cards {
  margin-top: 40px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.card-active {
  width: 190px;
  padding: 35px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px #e1e1e1;
  transition: transform 200ms ease;
}

.card-active:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card {
  width: 190px;
  padding: 35px 20px;
  background-color: transparent;
}

.card-logo {
  margin-bottom: 15px;
}

.card-head {
  font-size: 20px;
  font-weight: 600;
}

.card-body {
  margin-top: 10px;
  font-size: 14px;
}

.card-head-active {
  color: #5a31fc;
  font-size: 20px;
  font-weight: 600;
}

.blog-heading {
  margin: 80px 60px 0px 60px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.blog-heading span {
  margin-right: 60px;
  color: #5a31fc;
  font-weight: 600;
  cursor: pointer;
}

.blog-cards {
  margin-top: 40px;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blog-card {
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}

.blog-image img:last-child {
  display: none;
}

.blog-content {
  height: 227px;
  background-color: #ffffff;
  padding: 30px 45px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 15px #e1e1e1;
}

.blog-content h6 {
  margin-bottom: 8px;
  font-size: 15px;
  color: #5a31fc;
}

.blog-content small {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  line-height: 1.6;
}

.blog-bottom {
  position: absolute;
  left: 300px;
  bottom: -16px;
}

div.blog-author {
  position: absolute;
  left: 370px;
  bottom: 15px;
  font-size: 14px;
}

.faq-section {
  margin-top: 80px;
  background-color: #e9edff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.faq-content {
  padding: 40px 0px 40px 60px;
}

.faq-content h2 {
  font-size: 32px;
}

.faq-content h4 {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}

.faq-content h2 + h4 {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 400;
}

.faq-content button {
  margin-top: 15px;
  background-color: #5a31fc;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 18px;
  border: none;
  border-radius: 5px;
  transition: opacity 200ms ease;
}

.faq-content button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.faq-image img {
  width: 100%;
  height: 100%;
}

.download-section {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-content {
  margin-left: 60px;
  font-size: 18px;
}

.download-content span {
  font-weight: 400;
}

.download-email {
  margin-right: 60px;
}

.download-email form {
  position: relative;
}

.download-email input {
  width: 420px;
  background-color: #e9edff;
  border: none;
  border-radius: 35px;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
}

.download-email button {
  position: absolute;
  top: 4px;
  right: 3px;
  background-color: #5a31fc;
  color: #ffffff;
  border: none;
  border-radius: 35px;
  padding: 9px 22px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  transition: opacity 200ms ease;
}

.download-email button:hover {
  cursor: pointer;
  opacity: 0.85;
}

.footer-section {
  height: 250px;
  background-color: #3400ff;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin-left: 60px;
}

.footer-section > .footer-right {
  margin-right: 60px;
}

.footer-logo {
  width: 110px;
  cursor: pointer;
}

.list {
  margin-top: 15px;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.list-items {
  font-size: 14px;
  cursor: pointer;
}

.list :nth-child(1) {
  color: #d1cdcd;
}

.list :nth-child(2)::after,
.list :nth-child(3)::after,
.list :nth-child(4)::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 1px;
  background-color: #ffffff;
  position: relative;
  right: -15px;
  top: 1.5px;
}

.footer-section > .footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-right > .footer-right {
  display: flex;
  gap: 20px;
}

.footer-logos {
  transition: transform 200ms ease;
}

.footer-logos:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logos-list {
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.logos-list :nth-child(1)::after,
.logos-list :nth-child(2)::after {
  content: "";
  display: inline-block;
  height: 12px;
  width: 1px;
  background-color: #ffffff;
  position: relative;
  right: -15px;
  top: 1.5px;
}
